<!DOCTYPE html>
<html lang="pt">

<head>
    <title>RENNER - Power BI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="600"  url="relatorio_ciclo.html">
    <link rel="stylesheet" type="text/css" href="../dist/css/adminx.css" media="screen" />

    <!-- this is only relevant for the demo -->
    <link rel="stylesheet" href="../demo/demo.css">



</head>

<body>
    <div class="adminx-container">
        <nav class="navbar navbar-expand justify-content-between fixed-top">
            <a class="navbar-brand mb-0 h1 d-none d-md-block" href="../index.html" style="font-weight: bold;">
                <img src="../demo/img/logo.png" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
                RENNER
            </a>


            <form class="form-inline form-quicksearch d-none d-md-block mx-auto">
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <span class="navbar-brand mb-0 h1 d-none d-md-block" style="font-weight: bold;">
                        Relatório de Ciclo
                    </span>
                </div>
            </form>


           <ul class="navbar-nav d-flex justify-content-end mr-2">
                
                <a class="nav-link avatar-with-name"  href="https://login.microsoftonline.com/common/oauth2/logout?post_logout_redirect_uri=http%3A%2F%2Flocalhost%2Fmyapp%2F">
                        <img src="../demo/img/logout.png" class="d-inline-block align-top" alt="Logout">
                    </a>
               
            </ul>
        </nav>

        <!-- expand-hover push -->
        <!-- Sidebar -->
       <div class="adminx-sidebar expand-hover push">
            <ul class="sidebar-nav">


                <!-- Início -->
                <li class="sidebar-nav-item">
                    <a href="../index.html" class="sidebar-nav-link active">
                        <span class="sidebar-nav-icon">
                            <i data-feather="home"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Início
                        </span>
                        <span class="sidebar-nav-end">

                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->


                <!-- Relatórios - Com expansão -->
                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#example" aria-expanded="false" aria-controls="example">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Relatórios
                        </span>
                        <span class="sidebar-nav-end">
                            <i data-feather="chevron-right" class="nav-collapse-icon"></i>
                        </span>
                    </a>

                    <ul class="sidebar-sub-nav collapse" id="example">
                        
                         <li class="sidebar-nav-item">
                            <a href="../layouts/relatorio_operacional.html" class="sidebar-nav-link">
                                <span class="sidebar-nav-abbr">
                                    01
                                </span>
                                <span class="sidebar-nav-name">
                                    Relatório Operacional
                                </span>
                            </a>
                        </li>
                        
                        <li class="sidebar-nav-item">
                            <a href="../layouts/relatorio_automacoes.html" class="sidebar-nav-link">
                                <span class="sidebar-nav-abbr">
                                    02
                                </span>
                                <span class="sidebar-nav-name">
                                    Relatório de Automações
                                </span>
                            </a>
                        </li>

                        <li class="sidebar-nav-item">
                            <a href="../layouts/relatorio_chamados.html" class="sidebar-nav-link">
                                <span class="sidebar-nav-abbr">
                                    03
                                </span>
                                <span class="sidebar-nav-name">
                                    Relatório de Chamados
                                </span>
                            </a>
                        </li>

                        <li class="sidebar-nav-item">
                            <a href="../layouts/relatorio_backlog.html" class="sidebar-nav-link">
                                <span class="sidebar-nav-abbr">
                                    04
                                </span>
                                <span class="sidebar-nav-name">
                                    Relatório de Backlog
                                </span>
                            </a>
                        </li>
                        
                        <li class="sidebar-nav-item">
                            <a href="../layouts/relatorio_ciclo.html" class="sidebar-nav-link">
                                <span class="sidebar-nav-abbr">
                                    05
                                </span>
                                <span class="sidebar-nav-name">
                                    Relatório de Ciclo de Vida
                                </span>
                            </a>
                        </li>
                        
                        <li class="sidebar-nav-item">
                            <a href="../layouts/relatorio_crise.html" class="sidebar-nav-link">
                                <span class="sidebar-nav-abbr">
                                    06
                                </span>
                                <span class="sidebar-nav-name">
                                    Relatório de Crises
                                </span>
                            </a>
                        </li>
                        
                        <li class="sidebar-nav-item">
                            <a href="../layouts/relatorio_mudanca.html" class="sidebar-nav-link">
                                <span class="sidebar-nav-abbr">
                                    07
                                </span>
                                <span class="sidebar-nav-name">
                                    Relatório de Mudanças
                                </span>
                            </a>
                        </li>
                        
                        <li class="sidebar-nav-item">
                            <a href="../layouts/relatorio_problema.html" class="sidebar-nav-link">
                                <span class="sidebar-nav-abbr">
                                    08
                                </span>
                                <span class="sidebar-nav-name">
                                    Relatório de Problemas
                                </span>
                            </a>
                        </li>
                        
                        <li class="sidebar-nav-item">
                            <a href="../layouts/relatorio_tarefa.html" class="sidebar-nav-link">
                                <span class="sidebar-nav-abbr">
                                    09
                                </span>
                                <span class="sidebar-nav-name">
                                    Relatório de Tarefas
                                </span>
                            </a>
                        </li>
                        
                    </ul>
                </li>
                <!-- ###### FINAL ###### -->

                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="../layouts/boletim_operacional.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Boletim Operacional
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->

                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="../layouts/book.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Book
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->

                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="../layouts/dashboard.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Dashboard
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->

                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="../layouts/gestao_ativos.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Gestão de Ativos
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->

                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="../layouts/indicadores_contrato.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Indicadores de Contrato
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->

                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="../layouts/painel_contratual.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Painel Contratual
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->

                <li class="sidebar-nav-item">
                    <a class="sidebar-nav-link collapsed" href="../layouts/pesquisa_satisfacao.html">
                        <span class="sidebar-nav-icon">
                            <i data-feather="bar-chart"></i>
                        </span>
                        <span class="sidebar-nav-name">
                            Pesquisa de Satisfação
                        </span>
                        <span class="sidebar-nav-end">
                        </span>
                    </a>
                </li>
                <!-- ###### FINAL ###### -->
            </ul>
        </div>
        <!-- Sidebar End -->

        <!-- adminx-content-aside -->
        <div class="adminx-content">
            <!-- <div class="adminx-aside">

        </div> -->

            <div class="adminx-main-content">
                <div class="container-fluid">


                    <div class="row">

                        <div class="embed-responsive embed-responsive-16by9">


                            <iframe style="position:absolute;" src="https://app.powerbi.com/reportEmbed?reportId=4f981e87-5d60-4781-8d18-f3a4be875f73&autoAuth=true&ctid=5f006dac-15f2-4cb9-963f-ae4e6c14859c&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWJyYXppbC1zb3V0aC1iLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D">
                            </iframe>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- If you prefer jQuery these are the required scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="../dist/js/vendor.js"></script>
    <script src="../dist/js/adminx.js"></script>
    <script src="/bower_components/powerbi-client/dist/powerbi.js"></script>

    <!-- If you prefer vanilla JS these are the only required scripts -->
    <!-- script src="./dist/js/vendor.js"></script> -->
    <script src="../dist/js/adminx.vanilla.js"></script>









</body>

</html>